# База Данных (MariaDB / MySQL)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=boyforge
DB_USERNAME=boyforge
DB_PASSWORD=your_db_password_here

# Админ панель
ADMIN_PASSWORD=your_admin_password_here

# Интеграция: ЮKassa (Эквайринг)
YOOKASSA_SHOP_ID=your_shop_id_here
YOOKASSA_SECRET_KEY=your_secret_key_here
YOOKASSA_TAX_SYSTEM=1
YOOKASSA_VAT_CODE=1

# Интеграция: 5Post (Доставка)
5POST_API_KEY=your_5post_api_key_here
5POST_ENV=prod
5POST_SENDER_EMAIL=theboyforge@yandex.ru
5POST_SENDER_PHONE=+79991234567

# Google Sheets API (Google Apps Script)
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/your_script_id/exec

# Разное
YANDEX_MAPS_API_KEY=your_yandex_maps_api_key_here
